.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background-color: #d2ecf3;
}

.hightlight {
  background-color: #aef0ab;
}

.cellclicked {
  background-color: #1e90ff;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.knight {
  max-width: 50px;
  max-height: 50px;
}

.white {
  background-color: #fff8dc;
}

.black {
  background-color: #daa520;
}

.btn-hightlight {
  margin-left: 15px;
}
